/* Hide scrollbar for Chrome, Safari, and Edge */
.custom-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  /* Hide scrollbar for Firefox */
  .custom-scrollbar {
    scrollbar-width: none;
  }
  
  /* Hide scrollbar for Internet Explorer and Microsoft Edge */
  .custom-scrollbar {
    -ms-overflow-style: none;
  }
  